.to-baikal__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 35px;
  text-align: center;
  color: #fff;
  margin: 0 0 16px 0;
  z-index: 3;
  max-width: 288px;
}
@media screen and (min-width: 768px) {
  .to-baikal__title {
    font-size: 72px;
    line-height: 76px;
    margin: 0 0 32px 0;
    max-width: 560px;
  }
}
