.gallery {
  background-color: #2a2c2f;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 44px;
    padding-bottom: 44px;
  }
}

@media screen and (min-width: 1024px) {
  .gallery {
    padding-top: 46px;
    padding-bottom: 46px;
  }
}
