.to-baikal {
  position: relative;
  justify-content: center;
  background-color: #2a2c2f;
  padding-top: 34px;
}

@media screen and (min-width: 768px) {
  .to-baikal {
    padding-top: 45px;
  }
}

@media screen and (min-width: 1024px) {
  .to-baikal {
    padding-top: 46px;
  }
}
