.places__item-heading {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
  margin-bottom: 32px;
  align-items: end;
}

@media screen and (min-width: 768px) {
  .places__item-heading {
    gap: 28px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .places__item-heading {
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .places__item-heading {
    gap: 40px;
  }
}
