.to-baikal__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 1280px) {
  .to-baikal__image {
    width: calc(100% - 48px - 48px);
    left: 48px;
  }
}
