.container_to-baikal_height {
  min-height: 200px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container_to-baikal_height {
    min-height: 480px;
  }
}

@media screen and (min-width: 1024px) {
  .container_to-baikal_height {
    min-height: 640px;
  }
}

@media screen and (min-width: 1280px) {
  .container_to-baikal_height {
    min-height: 740px;
  }
}
