.places__item-title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 35px;
  text-align: left;
  color: #fff;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .places__item-title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (min-width: 1024px) {
  .places__item-title {
    font-size: 72px;
    line-height: 76px;
  }
}
